#wrap{
    padding:20px;
}
#header{
    display: flex;
    justify-content: space-between;
    padding:10px;
}
#logo{
    display: flex;
}
#nav, #footer{
    background-color: black;
    color:white;
}
#nav>ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
#nav>ul>li{
    margin:10px;
}
#main{
    margin:30px;
}
#aside{
    padding:10px;
    width:fit-content;
}
#aside>ul{
    list-style-type: none;
}
#aside>ul>li{
    margin-top:10px;
}
#article{
    margin-top:10px;
}
#footer{
    display:flex;
    justify-content: center;
    padding:10px;
}

